Repository mcgeq/miji: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --unsafe --no-errors-on-unmatched, cargo fmt --manifest-path src-tauri/Cargo.toml --

.lintstagedrc.json:

{
  "*.{js,ts,cjs,mjs,jsx,tsx,vue,json,jsonc}": [
    "biome check --write --unsafe --no-errors-on-unmatched"
  ],
  "src-tauri/**/*.rs": [
    "cargo fmt --manifest-path src-tauri/Cargo.toml --"
  ]
}

:sparkles: feat(tags): Add edit tags and projects
  src/assets/styles/index.css
  src/components/ui/Textarea.vue
  src/features/projects/components/ProjectEditModal.vue
  src/features/projects/views/ProjectsView.vue
  src/features/tags/components/TagEditModal.vue
  src/features/tags/views/TagsView.vue
Due: biome check --write --unsafe --no-errors-on-unmatched

:sparkles: feat(tags): Add edit tags and projects
  src-tauri/crates/todos/src/command.rs
  src-tauri/src/commands.rs
  src/components/ui/Tooltip.vue
  src/features/tags/views/TagsView.vue
  src/features/todos/components/ProjectSelector.vue
  src/features/todos/components/TagSelector.vue
  src/features/todos/components/TodoItem/TodoItem.vue
  src/features/todos/composables/useTodoAssociations.ts
  src/services/todos.ts
Due: biome check --write --unsafe --no-errors-on-unmatched, cargo fmt --manifest-path src-tauri/Cargo.toml --

:bug: fix(build): Fix build error
  src/features/settings/views/NotificationSettings.vue
  src/stores/notification.ts
  src/views/settings/NotificationSettings.vue
Due: biome check --write --unsafe --no-errors-on-unmatched

:pencil: feat(docs): Override readme
  README-ZH-CN.md
  README.md
Due: none

:rotating_light: feat(fronend): Fix rotating light
  src/composables/ui/useModal.ts
  src/composables/useAccountActions.ts
  src/composables/useAuthGuard.ts
  src/composables/useAuthPermission.ts
  src/composables/useAutoSaveSettings.ts
  src/composables/useBudgetActions.ts
  src/composables/useBudgetForm.ts
  src/composables/useBudgetStats.ts
  src/composables/useFamilyBudgetActions.ts
Due: biome check --write --unsafe --no-errors-on-unmatched

:rotating_light: feat(fronend): Fix rotating light
  src/composables/useCrudActions.ts
  src/constants/commonConstant.ts
  src/directives/auth-permission.ts
  src/directives/permission.ts
  src/directives/vHasValue.ts
  src/errors/appError.ts
  src/i18n/utils.ts
  src/layouts/DefaultLayout.vue
  src/router/guards/auth.guard.ts
  src/router/guards/firstLaunch.guard.ts
  src/router/guards/progress.guard.ts
Due: biome check --write --unsafe --no-errors-on-unmatched

:art: refactor(money): Refactor synax
  src/features/money/views/MoneyView.vue
Due: biome check --write --unsafe --no-errors-on-unmatched

:rotating_light: feat(fronend): Fix rotating light
  src/features/money/views/MoneyView.vue
Due: biome check --write --unsafe --no-errors-on-unmatched

:rotating_light: feat(fronend): Fix rotating light
  src/features/health/period/components/PeriodCalendar.vue
  src/features/health/period/components/PeriodInfoCard.vue
  src/features/health/period/composables/usePeriodDailyRecords.ts
  src/features/health/period/composables/usePeriodRecords.ts
  src/features/health/period/composables/usePeriodValidation.ts
  src/features/health/period/utils/index.ts
  src/features/health/period/utils/periodUtils.ts
  src/features/health/period/utils/usePeriodAnalytics.ts
  src/features/health/period/utils/utils.ts
  src/features/health/period/views/PeriodDailyForm.vue
  src/features/health/period/views/PeriodListView.vue
  src/features/health/period/views/PeriodManagement.vue
  src/features/health/period/views/PeriodRecordForm.vue
  src/features/health/period/views/PeriodSettings.vue
  src/features/health/period/views/PeriodStatsDashboard.vue
  src/features/health/utils/periodUtils.ts
Due: biome check --write --unsafe --no-errors-on-unmatched

:sparkles: feat(fronend): Feat category and subategory
  src/composables/useAutoSaveSettings.ts
  src/features/money/views/CategoriesView.vue
  src/features/money/views/SubCategoriesView.vue
  src/features/settings/views/GeneralSettings.vue
  src/features/settings/views/NotificationSettings.vue
  src/services/money/money.ts
  src/views/settings/NotificationSettings.vue
Due: biome check --write --unsafe --no-errors-on-unmatched

:sparkles: feat(notification): Integrate unified reminder scheduler system
  components.d.ts
  docs/notification/FINAL_SUMMARY.md
  docs/notification/INTEGRATION_COMPLETE.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/crates/notification/Cargo.toml
  src-tauri/crates/notification/src/command.rs
  src-tauri/crates/notification/src/lib.rs
  src-tauri/crates/notification/src/scheduler.rs
  src-tauri/crates/notification/src/scheduler/event.rs
  src-tauri/crates/notification/src/scheduler/executor.rs
  src-tauri/crates/notification/src/scheduler/reminder_scheduler.rs
  src-tauri/crates/notification/src/scheduler/task.rs
  src-tauri/entity/src/lib.rs
  src-tauri/entity/src/notification_reminder_history.rs
  src-tauri/entity/src/notification_reminder_state.rs
  src-tauri/migration/src/lib.rs
  src-tauri/migration/src/m20251213_create_reminder_states.rs
  src-tauri/migration/src/schema.rs
  src-tauri/src/app_initializer.rs
  src-tauri/src/commands.rs
  src-tauri/src/scheduler_manager.rs
  src/api/reminderScheduler.ts
  src/auto-imports.d.ts
  src/components/common/ReminderConfigPanel.vue
  src/components/settings/ReminderSchedulerSettings.vue
  src/composables/useUnifiedReminderListener.ts
  src/schema/notification/baseReminder.ts
Due: biome check --write --unsafe --no-errors-on-unmatched, cargo fmt --manifest-path src-tauri/Cargo.toml --

:sparkles: feat(notification): Add unified reminder scheduler
  src-tauri/crates/notification/src/lib.rs
  src-tauri/crates/notification/src/scheduler.rs
  src-tauri/src/scheduler_manager.rs
Due: cargo fmt --manifest-path src-tauri/Cargo.toml --

:sparkles: feat(notification): Integrate unified reminder scheduler system
  components.d.ts
  docs/SCHEDULER_SETTINGS_TABS_USAGE.md
  docs/SCHEDULER_STATE_SYNC_FIX.md
  docs/SCHEDULER_TABS_INTEGRATION_SUMMARY.md
  src-tauri/crates/notification/src/command.rs
  src-tauri/crates/notification/src/scheduler/executor.rs
  src-tauri/crates/notification/src/scheduler/reminder_scheduler.rs
  src-tauri/src/app_initializer.rs
  src/components/settings/ReminderSchedulerSettings.vue
  src/components/settings/SchedulerSettingsTabs.vue
  src/components/ui/Tooltip.vue
  src/features/settings/views/SettingsView.vue
Due: biome check --write --unsafe --no-errors-on-unmatched, cargo fmt --manifest-path src-tauri/Cargo.toml --

:sparkles: feat(notification): Integrate unified reminder scheduler system
  src/composables/useAutoSaveSettings.ts
  src/composables/useSettingsCache.ts
  src/features/settings/views/GeneralSettings.vue
  src/stores/theme.ts
Due: biome check --write --unsafe --no-errors-on-unmatched

:sparkles: feat(scheduler): Feat split health reminders into three independent scheduled tasks
  src-tauri/crates/notification/src/scheduler/reminder_scheduler.rs
  src-tauri/migration/src/lib.rs
  src-tauri/migration/src/m20251213_001_split_period_reminder_tasks.rs
  src-tauri/migration/src/schema.rs
  src/components/settings/SchedulerSettingsTabs.vue
  src/types/scheduler.ts
Due: biome check --write --unsafe --no-errors-on-unmatched, cargo fmt --manifest-path src-tauri/Cargo.toml --

:sparkles: feat(log): Feat log info
  docs/guides/SMART_LOGGING_GUIDE.md
  src-tauri/common/src/crud/service.rs
  src-tauri/common/src/log.rs
  src-tauri/common/src/log/logger.rs
  src-tauri/common/src/log/sanitizer.rs
  src-tauri/common/src/services/notification_service.rs
  src-tauri/common/src/services/scheduler_config_service.rs
  src-tauri/crates/auth/src/services/user.rs
  src-tauri/crates/healths/src/service/period_reminder.rs
  src-tauri/crates/money/src/services/bil_reminder.rs
  src-tauri/crates/money/src/services/transaction.rs
  src-tauri/crates/money/src/services/transaction_hooks.rs
  src-tauri/crates/todos/src/service/todo.rs
Due: cargo fmt --manifest-path src-tauri/Cargo.toml --

:art: feat(jj): Feat modify jj comit info
  jjc.ps1
Due: none

:bug: feat(build): Fix build error
  src/components/common/PrioritySelector.vue
  src/components/common/ReminderSelector.vue
  src/components/common/RepeatPeriodSelector.vue
  src/components/common/money/AccountSelector.vue
  src/components/common/money/BudgetAllocationEditor.vue
  src/components/common/money/CurrencySelector.vue
  src/features/health/period/views/PeriodDailyForm.vue
  src/pages/money/budget-allocations.vue
  src/pages/money/statistics.vue
Due: biome check --write --unsafe --no-errors-on-unmatched

:bug: feat(build): Fix build error
  components.d.ts
  src/components/common/ReminderConfigPanel.vue
  src/features/health/period/views/PeriodDailyForm.vue
  src/features/health/period/views/PeriodRecordForm.vue
  src/features/money/components/BudgetFormFields.vue
  src/features/money/components/SubCategoryAddModal.vue
  src/features/money/components/TransactionSplitSection.vue
  src/pages/money/split-templates.vue
  src/services/money/family.ts
  src/services/money/money.ts
Due: biome check --write --unsafe --no-errors-on-unmatched

:art: feat(build): Fix build error
  .gitignore
  .kiro/specs/project-analysis/design.md
  .kiro/specs/project-analysis/requirements.md
  .kiro/specs/project-analysis/tasks-zh.md
  .kiro/specs/project-analysis/tasks.md
  docs/fixes/FINAL_SUMMARY.md
  docs/fixes/FIXES_SUMMARY.md
  docs/fixes/FULL_MIGRATION_PLAN.md
  docs/fixes/MIGRATION_COMPLETE.md
  docs/fixes/error-handling-migration.md
  src/composables/useFamilyBudgetActions.ts
  src/composables/usePermission.ts
  src/features/money/composables/useTransactionDataLoader.ts
  src/schema/common.ts
  src/stores/auth.ts
  src/stores/money/budget-allocation-store.ts
  src/stores/money/currency-store.ts
  src/stores/money/family-ledger-store.ts
  src/stores/money/family-member-store.ts
  src/stores/money/family-split-store.ts
  src/stores/projectStore.ts
  src/stores/tagStore.ts
  src/stores/todoStore.ts
  src/utils/dbUtils.ts
  src/utils/errorHandler.ts
  src/utils/zodFactory.ts
Due: biome check --write --unsafe --no-errors-on-unmatched

:art: refactor(service): Refactor services
  bun.lock
  package.json
  src/auto-imports.d.ts
  src/services/authService.ts
  src/services/base/BaseService.ts
  src/services/base/types.ts
  src/services/money/AccountService.ts
  src/services/tagService.ts
  src/stores/auth.ts
  src/stores/money/account-store.ts
  src/stores/tagStore.ts
  src/stores/utils/storeTemplate.ts
  src/stores/utils/withLoadingSafe.ts
  src/utils/tauriClient.ts
  src/utils/tauriClient/interceptors.ts
  test/services/BaseService.property.test.ts
  test/services/BaseService.test.ts
  test/services/money/AccountService.test.ts
  test/services/tagService.property.test.ts
  test/stores/authStore.property.test.ts
  test/stores/authStore.test.ts
  test/stores/storeTemplate.test.ts
  test/stores/tagStore.test.ts
  test/stores/withLoadingSafe.test.ts
  test/utils/tauriClient.test.ts
  tsconfig.json
  vitest.config.ts
Due: biome check --write --unsafe --no-errors-on-unmatched

:art: refactor(project): Refactor project service
  src/auto-imports.d.ts
  src/services/projectsService.ts
  src/stores/projectStore.ts
  test/stores/projectStore.test.ts
Due: biome check --write --unsafe --no-errors-on-unmatched

:art: refactor(todo): Refactor todo service
  src/auto-imports.d.ts
  src/services/todo.ts
  src/services/todoService.ts
  src/stores/todoStore.ts
  test/stores/todoStore.test.ts
Due: biome check --write --unsafe --no-errors-on-unmatched

:art: refactor(period): Refactor period service
  src/auto-imports.d.ts
  src/services/healths/periodService.ts
  src/services/healths/period_daily_record.ts
  src/services/healths/period_record.ts
  src/stores/periodStore.ts
Due: biome check --write --unsafe --no-errors-on-unmatched

:art: refactor(money): Refactor family service
  src/services/family/familyLedgerService.ts
  src/services/family/index.ts
  test/services/family/familyLedgerService.test.ts
Due: biome check --write --unsafe --no-errors-on-unmatched

:art: refactor(money): Refactor budget service
  src/services/money/budgetService.ts
  src/services/money/transactionService.ts
  test/services/money/BudgetService.import.test.ts
  test/services/money/BudgetService.test.ts
Due: biome check --write --unsafe --no-errors-on-unmatched

:art: refactor(money): Refactor family service
  src/composables/useBudgetActions.ts
  src/composables/usePaginationFilters.ts
  src/composables/useTabManager.ts
  src/features/money/components/TransactionList.vue
  src/features/money/composables/useBilReminderFilters.ts
  src/features/money/views/SettlementRecordList.vue
  src/services/healths/periodDailyRecordService.ts
  src/services/healths/periodRecordService.ts
  src/services/healths/periodService-old.ts
  src/services/healths/periodSettingsService.ts
  src/services/money/billReminderService.ts
  src/services/money/categoryService.ts
  src/services/money/currencyService.ts
  src/services/money/subCategoryService.ts
  src/services/money/transactionService.ts
  src/services/todoService-old.ts
  src/stores/money/budget-store.ts
  src/stores/money/category-store.ts
  src/stores/money/currency-store.ts
  src/stores/money/family-ledger-store.ts
  src/stores/money/reminder-store.ts
  src/stores/money/transaction-store.ts
  src/stores/periodStore.ts
  src/stores/todoStore.ts
  test/services/money/CategoryService.import.test.ts
Due: biome check --write --unsafe --no-errors-on-unmatched

:art: refactor(money): Refactor family service
  src/auto-imports.d.ts
  src/components/common/TagSelector.vue
  src/features/health/period/components/PeriodRecentRecord.vue
  src/features/health/period/composables/usePeriodValidation.ts
  src/features/health/period/utils/periodUtils.ts
  src/features/health/period/views/PeriodListView.vue
  src/features/money/utils/numberUtils.ts
  src/features/projects/views/ProjectsView.vue
  src/features/tags/views/TagsView.vue
  src/features/todos/components/ProjectSelector.vue
  src/features/todos/components/TagSelector.vue
  src/features/todos/composables/useTodoAssociations.ts
  src/services/auth.ts
  src/services/projects.ts
  src/services/tags.ts
  src/services/todoService-old.ts
  src/services/todos.ts
  src/stores/auth.ts
  src/stores/index.ts
  src/stores/locales.ts
  src/stores/projectStore.ts
  src/stores/tagStore.ts
  src/stores/theme.ts
Due: biome check --write --unsafe --no-errors-on-unmatched

:bug: fix(period): Fix period record days
  src/features/health/period/utils/index.ts
  src/features/health/period/utils/periodUtils.ts
  src/utils/date.ts
Due: biome check --write --unsafe --no-errors-on-unmatched

feat: add checkin
  lib/core/database/app_database.dart
  lib/core/database/seed/checkin_seed_data.dart
  lib/core/database/seed/database_seed_runner.dart
  lib/core/database/tables/checkin/checkin_tables.dart
  lib/core/notifications/app_notification_service.dart
  lib/core/presentation/components/app_icon_action_button.dart
  lib/core/router/app_router.dart
  lib/core/router/app_routes.dart
  lib/core/sync/delta_sync/sync_change_logger.dart
  lib/features/gtd/application/checkin_timer_controller.dart
  lib/features/gtd/data/drift_checkin_repository.dart
  lib/features/gtd/domain/checkin_enums.dart
  lib/features/gtd/domain/checkin_models.dart
  lib/features/gtd/domain/checkin_repository.dart
  lib/features/gtd/presentation/checkin/photo_checkin_page.dart
  lib/features/gtd/presentation/gtd_page.dart
  lib/features/gtd/presentation/plans/plan_detail_page.dart
  lib/features/gtd/presentation/plans/plan_form_page.dart
  lib/features/gtd/presentation/plans/plan_list_page.dart
  lib/features/gtd/providers/checkin_providers.dart
  lib/features/home/presentation/home_page.dart
  lib/features/shell/presentation/app_shell_page.dart
  pubspec.lock
  pubspec.yaml
Due: none

feat: Add pending auto-posting template amounts to monthly budget calculation on Home screen
  lib/features/bookkeeping/data/parts/auto_posting.dart
  lib/features/bookkeeping/domain/money_repository.dart
  lib/features/home/application/home_money_dashboard_providers.dart
Due: none

bug: Fix auto-posting template start date off by one day due to UTC conversion
  lib/features/bookkeeping/data/drift_money_repository.dart
Due: none

feat: add refund
  lib/features/bookkeeping/presentation/transactions/money_transaction_actions.dart
Due: none

feat: Improve check-in plans and records
  lib/core/database/app_database.dart
  lib/core/database/seed/checkin_seed_data.dart
  lib/core/database/seed/database_seed_runner.dart
  lib/core/database/tables/checkin/checkin_tables.dart
  lib/features/gtd/data/drift_checkin_repository.dart
  lib/features/gtd/presentation/checkin/record_detail_sheet.dart
  lib/features/gtd/presentation/gtd_page.dart
  lib/features/gtd/presentation/plans/plan_detail_page.dart
  lib/features/gtd/presentation/plans/plan_form_page.dart
  lib/features/gtd/presentation/plans/plan_list_page.dart
  lib/features/gtd/providers/checkin_providers.dart
  test/core/database/seed/database_seed_runner_test.dart
  test/features/gtd/data/drift_checkin_repository_test.dart
Due: none

feat: Add todo feature and unify GTD form widgets
  lib/core/database/app_database.dart
  lib/core/database/tables/todo/todo_tables.dart
  lib/core/router/app_router.dart
  lib/core/router/app_routes.dart
  lib/core/sync/delta_sync/delta_sync_service.dart
  lib/core/sync/delta_sync/sync_change_logger.dart
  lib/features/bookkeeping/presentation/quick_actions/money_quick_action_fab.dart
  lib/features/bookkeeping/providers/bookkeeping_providers.dart
  lib/features/gtd/presentation/gtd_page.dart
  lib/features/gtd/presentation/plans/plan_form_page.dart
  lib/features/gtd/presentation/plans/plan_list_page.dart
  lib/features/home/presentation/home_page.dart
  lib/features/todo/data/drift_todo_repository.dart
  lib/features/todo/domain/todo_models.dart
  lib/features/todo/domain/todo_repository.dart
  lib/features/todo/presentation/today_action_list_view.dart
  lib/features/todo/presentation/todo_quick_create_sheet.dart
  lib/features/todo/presentation/todo_stats_view.dart
  lib/features/todo/presentation/todo_task_detail_page.dart
  lib/features/todo/presentation/todo_task_list_view.dart
  lib/features/todo/providers/todo_providers.dart
  lib/shared/widgets/date_picker.dart
  test/core/database/app_database_migration_test.dart
Due: none

feat: home display toggle and card layout, fix budget alert threshold, enable semantics for long screenshots
  lib/core/database/app_database.dart
  lib/core/database/tables/user_preferences_table.dart
  lib/core/notifications/app_notification_service.dart
  lib/core/preferences/data/drift_preferences_repository.dart
  lib/core/preferences/domain/preferences_repository.dart
  lib/core/preferences/domain/user_preferences_entity.dart
  lib/features/bookkeeping/application/money_budget_alert_notification_service.dart
  lib/features/bookkeeping/providers/bookkeeping_providers.dart
  lib/features/home/presentation/home_page.dart
  lib/features/home/presentation/home_today_spending_card.dart
  lib/features/settings/presentation/settings_page.dart
  lib/main.dart
  test/core/database/app_database_migration_test.dart
  test/features/bookkeeping/application/money_budget_alert_notification_service_test.dart
  test/features/home/presentation/home_today_spending_card_test.dart
Due: none
