Repository mcgeq/miji: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx,svelte,astro}": [
    "biome check --fix --no-errors-on-unmatched",
    "biome format --write --no-errors-on-unmatched"
  ],
  "src/**/*.vue": [
    "eslint --fix"
  ],
  "*.{json,css,scss,less,md}": [
    "biome format --write --no-errors-on-unmatched"
  ]
}

:construction_worker: cli(cli): Add eslint support vue
  biome.json
  bun.lock
  eslint.config.mjs
  package.json
Due: biome format --write --no-errors-on-unmatched

:construction_worker: cli(cli): Modify lint and format
  .lintstagedrc.json
  src/features/health/period/views/PeriodManagement.vue
Due: biome format --write --no-errors-on-unmatched, eslint --fix

:construction_worker: cli(cli): Modify config support format and lint
  biome.json
  bun.lock
  eslint.config.mjs
  package.json
  src/main.ts
  src/stores/periodStore.ts
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

:construction_worker: cli(cli): Modify config
  .lintstagedrc.json
  eslint.config.mjs
  src/stores/periodStore.ts
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

:construction_worker: cli(cli): Modify lint staged
  .lintstagedrc.json
  src/stores/periodStore.ts
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

:construction_worker: cli(cli): Modify config biome and eslint
  .lintstagedrc.json
  biome.json
  eslint.config.mjs
  src/stores/periodStore.ts
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

:construction_worker: cli(cli): Modify eslint and biome
  .lintstagedrc.json
  biome.json
  eslint.config.mjs
  src/stores/periodStore.ts
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

:construction_worker: cli(cli): Modify config with eslint and biome
  eslint.config.mjs
  src/stores/periodStore.ts
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

:recycle: refactor(frontend): Refactor money view card
  eslint.config.mjs
  src/components/common/ConfirmModal.vue
  src/composables/useConfirm.ts
  src/features/money/components/StackedStatCards.vue
  src/features/money/views/MoneyView.vue
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix

:bug: fix(frontend): Fix card change
  src/features/money/components/StackedStatCards.vue
  src/features/money/views/MoneyView.vue
Due: eslint --fix

:recycle: refactor(style): Refactor ui
  src/components/common/Descriptions.vue
  src/components/common/PopupWrapper.vue
  src/features/todos/components/TodoItem/TodoActions.vue
  src/features/todos/components/TodoItem/TodoAddMenus.vue
  src/features/todos/components/TodoItem/TodoEditDueDateModal.vue
  src/features/todos/components/TodoItem/TodoEditOptionsModal.vue
  src/features/todos/components/TodoItem/TodoEditRepeatModal.vue
  src/features/todos/components/TodoItem/TodoEditTitleModal.vue
  src/features/todos/components/TodoItem/TodoItem.vue
  src/features/todos/components/TodoList.vue
  src/features/todos/views/TodoList.vue
  src/features/todos/views/TodoView.vue
  src/utils/date.ts
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix

:lipstick: style(style): Modify css
  src/features/health/period/views/PeriodManagement.vue
Due: eslint --fix

:sparkles: feature(frontend): Add settings view
  eslint.config.mjs
  src/auto-imports.d.ts
  src/features/settings/components/AvatarEditModal.vue
  src/features/settings/components/Modal.vue
  src/features/settings/components/ProfileEditModal.vue
  src/features/settings/components/UserProfileCard.vue
  src/features/settings/views/GeneralSettings.vue
  src/features/settings/views/NotificationSettings.vue
  src/features/settings/views/PrivacySettings.vue
  src/features/settings/views/SecuritySettings.vue
  src/features/settings/views/SettingsView.vue
  src/pages/settings.vue
  src/stores/auth.ts
  src/stores/locales.ts
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix

:recycle: refactor(frontend): Refactor confirm
  src/components/common/ConfirmDialog.vue
  src/components/common/ConfirmModal.vue
  src/features/settings/components/AvatarEditModal.vue
Due: eslint --fix

:recycle: refactor(frontend): Refactor user info display
  src/features/settings/components/UserDisplayCard.vue
  src/features/settings/views/SettingsView.vue
Due: eslint --fix

:wrench: config(config): Add eslint config
  eslint.config.mjs
Due: none

:heavy_plus_sign: dependencies(deps): Add unplugin-vue-components
  bun.lock
  components.d.ts
  package.json
  vite.config.ts
Due: biome format --write --no-errors-on-unmatched

:bug: fix(config): Fix i18 errors
  src/features/money/views/MoneyView.vue
  src/router/index.ts
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix

:recycle: refactor(frontend): Refactor Period record
  src/features/health/period/components/PeriodHealthTip.vue
  src/features/health/period/components/PeriodRecentRecord.vue
  src/features/health/period/views/PeriodManagement.vue
  src/features/health/period/views/PeriodStatsDashboard.vue
Due: eslint --fix

:sparkles: feature(frontend): Add period utils
  src/features/health/period/components/PeriodHealthTip.vue
  src/features/health/period/views/PeriodManagement.vue
  src/features/health/utils/periodUtils.ts
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix

:recycle: refactor(frontend): Refactor period about utils
  src/features/health/period/components/PeriodHealthTip.vue
  src/features/health/period/utils/periodUtils.ts
  src/features/health/period/views/PeriodManagement.vue
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix

:recycle: refactor(frontend): Refactor date utils
  eslint.config.mjs
  src/features/health/period/utils/periodUtils.ts
  src/features/health/period/views/PeriodDailyForm.vue
  src/features/health/period/views/PeriodManagement.vue
  src/features/money/components/AccountModal.vue
  src/features/money/components/BudgetModal.vue
  src/features/money/components/FamilyLedgerModal.vue
  src/features/money/components/LedgerFormModal.vue
  src/features/money/components/MemberModal.vue
  src/features/money/components/ReminderList.vue
  src/features/money/components/ReminderModal.vue
  src/features/todos/components/TodoItem/TodoEditDueDateModal.vue
  src/features/todos/components/TodoItem/TodoItem.vue
  src/services/auth.ts
  src/services/todos.ts
  src/stores/projectStore.ts
  src/stores/tagStore.ts
  src/stores/todoStore.ts
  src/utils/date.ts
  src/utils/periodDate.ts
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix

:recycle: refactor(frontend): Refactor some code
  src/features/health/period/components/PeriodCalendar.vue
  src/features/health/period/utils/periodUtils.ts
  src/features/health/period/views/PeriodRecordForm.vue
  src/features/money/components/AccountList.vue
  src/features/money/components/BudgetList.vue
  src/features/money/components/FamilyLedgerList.vue
  src/features/money/components/TransactionList.vue
  src/utils/date.ts
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix

:recycle: refactor(frontend): Refactor date utils
  src/utils/date.ts
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

:lipstick: style(style): Modify period unocss ui
  src/features/health/period/components/PeriodCalendar.vue
  src/features/health/period/views/PeriodListView.vue
  src/features/health/period/views/PeriodRecordForm.vue
Due: eslint --fix

:lipstick: style(style): Modify period filter layout
  src/features/health/period/views/PeriodListView.vue
Due: eslint --fix

:recycle: refactor(backend): Fix sql type
  src-tauri/migration/src/m20250610_000011_create_period.rs
  src-tauri/migration/src/m20250610_000016_create_money.rs
  src/schema/health/period/period_records.ts
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

:sparkles: feature(frontend): Add money about db utils
  bun.lock
  package.json
  src/services/money/money.ts
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

:sparkles: feature(frontend): Add money db utils
  biome.json
  src/services/money/money.ts
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

:recycle: refactor(frontend): Refactor account currency
  src/services/money/money.ts
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

:bug: fix(backend): Fix sql migration error
  src-tauri/migration/src/m20250610_000016_create_money.rs
Due: none

:recycle: refactor(backend): Refactor currency fields
  src-tauri/migration/src/m20250610_000016_create_money.rs
Due: none

:recycle: refactor(frontend): Refactor some code
  src/constants/moneyConst.ts
  src/locales/en.json
  src/locales/zh.json
  src/schema/common.ts
  src/services/money/money.ts
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

:recycle: refactor(frontend): Refactor currency fileds
  src/features/money/components/AccountModal.vue
  src/features/money/components/FamilyLedgerList.vue
  src/features/money/components/FamilyLedgerModal.vue
  src/features/money/components/LedgerFormModal.vue
  src/locales/en.json
  src/locales/zh.json
Due: biome format --write --no-errors-on-unmatched, eslint --fix

:sparkles: feature(frontend): Add db utils
  src/utils/dbUtils.ts
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

:sparkles: feature(frontend): Add account use db
  src-tauri/migration/src/m20250610_000016_create_money.rs
  src/features/money/components/AccountList.vue
  src/features/money/components/AccountModal.vue
  src/features/money/views/MoneyView.vue
  src/locales/zh.json
  src/schema/common.ts
  src/schema/money/family.ts
  src/services/auth.ts
  src/services/money/accounts.ts
  src/services/money/baseManager.ts
  src/services/money/billReminder.ts
  src/services/money/budgets.ts
  src/services/money/currencys.ts
  src/services/money/family.ts
  src/services/money/money.ts
  src/services/money/transactions.ts
  src/stores/moneyStore.ts
  src/utils/dbUtils.ts
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix

:bug: fix(frontend): Fix arguments error
  src/services/money/money.ts
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

:bug: fix(frontend): Fix result to caml case
  src/features/money/components/AccountModal.vue
  src/services/money/accounts.ts
  src/services/money/family.ts
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix

:recycle: refactor(frontend): Refactor currency
  src/components/common/money/CurrencySelector.vue
  src/constants/moneyConst.ts
  src/features/money/components/AccountModal.vue
  src/features/money/views/MoneyView.vue
Due: biome check --fix --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix
